.continent {
  display:grid;
   grid-template-columns : repeat(4, 100px);
  grid-auto-rows: minmax(50px, auto);
  
}

a[href="https://commons.wikimedia.org/wiki/File:Flag_of_Belgium.svg"] {
 grid-column : 1 / 2;
}

a[href="https://commons.wikimedia.org/wiki/File:Flag_of_Austria.svg"] { 
grid-column : 1 / 2;
  grid-row : 1/2;
}

a[href="https://commons.wikimedia.org/wiki/File:Flag_of_C%C3%B4te_d%27Ivoire.svg"] { 
grid-column : 3 / 4;
  grid-row  : 1/2;
}

a[href="https://commons.wikimedia.org/wiki/File:Flag_of_Argentina.svg"] { 
grid-column : 2 / 3;
  grid-row  : 3/4;
}


a[href="https://commons.wikimedia.org/wiki/File:Flag_of_Brazil.svg"] { 
grid-column : 2 / 3;
  grid-row : 1/2;
}

a[href="https://commons.wikimedia.org/wiki/File:Flag_of_Bolivia.svg"] { 
grid-column : 2 / 3;
  grid-row : 2/3;
}

a[href="https://commons.wikimedia.org/wiki/File:Flag_of_Vietnam.svg"] { 
grid-column : 4 / 5;
}
